/* styles.css */
.container {
  width: 200px;
}

.container .main {
  background-color: purple;
  border-left: 5px solid green;
  padding: 10px;
}

.container .main .heading {
  font-size: 20px;
  color: white;
}
