/* styles.css */

.container {
  width: 200px;
}

.container{
  border-left: 5px solid green;
  padding: 10px;
  background-color: purple;
	color:rgb(128,0,128); 
}

.container {
  font-size: 20px;
  color: white;
}
